*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/public/*.key
/public/mix-manifest.json
/storage/*.key
/storage/logs
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
!/storage/framework/.gitignore
!/storage/logs/.gitignore
/storage/pail
/vendor/

/node_modules/
Homestead.json
Homestead.yaml
Thumbs.db

# Prevent uploading build / cache files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

/dist

# Ignite resource files
.idea/
.vscode/
*.iml
*.sublime-workspace
*.sublime-project
